.button {
    display: flex;
    height: 4em;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: #e0e1e6;
    color: black;
    outline: 2px solid black;
    font-weight: bold;
  }
  .operator {
    background-color: rgb(233, 14, 98);
    color: #fff;
  }